@{
    ViewBag.Title = "DetallesPropiedad";
}

<div class="section best-deal p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2 class="text-center">Propiedad</h2>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2 class="text-center">Vendedor</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tabs-content">
                    <div class="row">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li>Area <span>@ViewBag.Propiedad.Area m2</span></li>
                                                <li>Pisos <span>@ViewBag.Propiedad.Piso</span></li>
                                                <li>Recamaras <span>@ViewBag.Propiedad.Habitaciones</span></li>
                                                <li>Estacionamiento <span>@ViewBag.Propiedad.Estacionamiento</span></li>
                                                <li>Ubicacion <span>@ViewBag.Propiedad.UbicacionExacta</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <img style="border-radius:10px" src="@ViewBag.Propiedad.Imagen" alt="">
                                        <div class="d-flex justify-content-center mt-2">
                                            <h2 style="color: #000000; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); padding-left: 100px; padding-right: 100px; border-radius: 5px; ">Precio: @ViewBag.Propiedad.Precio.ToString("C")</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="info-table">
                                            <ul>
                                                <li class="pl-0">Nombre Completo<br>  <span>@ViewBag.Vendedor.FirstName @ViewBag.Vendedor.LastName</span></li>
                                                <li>Numero Telefonico <span>+506 @ViewBag.Vendedor.PhoneNumber</span></li>
                                                <li>Correo Electronico <span>@ViewBag.Vendedor.Email</span></li>
                                                <p style="color: #aaa" class="mb-1">Conectar</p>
                                                <div class="d-flex justify-content-center  gap-1">
                                                    <a href="@Url.Action("PerfilV", "Home", new { vendedorID = ViewBag.Vendedor.UserID, propiedadID = ViewBag.Propiedad.PropiedadID })" class="btn btn-dark mr-2" style="padding-left: 10px; padding-right: 10px; font-size: 11px;">Enviar Correo <i class="fas fa-envelope"></i></a>

                                                    <a href="https://wa.me/@ViewBag.Vendedor.PhoneNumber" class="btn btn-secondary" style="padding-left: 10px; padding-right: 10px; font-size: 11px;">Enviar Mensaje<i class="fas fa-comment"></i></a>

                                                </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
