@model List<DominiumLocal.Entity.propiedadEntity>
@{ 
    ViewBag.Title = "Propiedades";
}

<body>
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="breadcrumb">Costa Rica</span>
                    <h3>Propiedades</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="section properties">
        <div class="container">
            <ul class="properties-filter nav nav-pills justify-content-center mb-5">
                <li class="nav-item">
                    <a class="nav-link is_active" href="#!" data-filter="*">Mostrar Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!" data-filter=".adv">Apartamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!" data-filter=".str">Casa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!" data-filter=".rac">Quinta</a>
                </li>
            </ul>

            <div class="search-bar row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-3">
                    <select class="form-control" id="provincia-filter">
                        <option value="*">Todas las Provincias</option>
                        <option value=".provincia-1">San José</option>
                        <option value=".provincia-2">Limón</option>
                        <option value=".provincia-3">Puntarenas</option>
                        <option value=".provincia-4">Heredia</option>
                        <option value=".provincia-5">Alajuela</option>
                        <option value=".provincia-6">Guanacaste</option>
                        <option value=".provincia-7">Cartago</option>
                    </select>
                </div>

                <div class="col-md-6 col-lg-1 mb-3">
                    <button class="btn" style="background-color: #343957; color: #fff;" onclick="filterProperties()">Buscar</button>
                </div>
            </div>

            @if (Model.Count() > 0)
            {
                <div class="row properties-box">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 mb-30 item propiedad provincia-@item.ProvinciaID">
                            <div class="item">
                                <a href="property-details.html"><img src="@item.Imagen" width="300" height="200" alt=""></a>
                                <span class="category">@item.Categoria</span>
                                <h6>@item.Precio.ToString("C")</h6>
                                <h4><a href="property-details.html">@item.UbicacionExacta</a></h4>
                                <div class="d-flex justify-content-center">
                                    <ul>
                                        <li>Recámaras: <span>@item.Habitaciones</span></li>
                                        <li>Baños: <span>@item.Banos</span></li>
                                        <li>Área: <span>@item.Area m2</span></li>
                                        <li>Piso: <span>@item.Piso</span></li>
                                        <li>Estacionamiento: <span>@item.Estacionamiento cupos</span></li>
                                    </ul>
                                </div>
                                <div class="main-button">
                                    <a href="property-details.html">Agendar Visita</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <h3 class="text-black">No hay propiedades en este momento...</h3>
                </div>
            }
        </div>
        </div>


        <script>
            function filterProperties() {
                var provinciaFilter = $('#provincia-filter').val();

                if (provinciaFilter) {
                    $('.properties-box ' + provinciaFilter).show();
                    $('.properties-box .provincia-' ).hide();
                } else if (provinciaFilter === "*") {
                    $('.properties-box ').show();
                }
            }
        </script>

</body>

