@using PagedList.Mvc;
@model PagedList.IPagedList<DominiumLocal.Entity.propiedadEntity>

@{
    ViewBag.Title = "Propiedades";

    // Función para obtener el nombre de la provincia basado en el ID
    string GetProvinciaName(int provinciaID)
    {
        // Implementa la lógica para obtener el nombre de la provincia basado en el ID
        switch (provinciaID)
        {
            case 1: return "San José";
            case 2: return "Limón";
            case 3: return "Puntarenas";
            case 4: return "Heredia";
            case 5: return "Alajuela";
            case 6: return "Guanacaste";
            case 7: return "Cartago";
            default: return provinciaID.ToString(); // Devuelve el ID como cadena si no hay coincidencia.
        }
    }

    // Función para obtener el nombre de la categoría
    string GetCategoriaName(string categoria)
    {
        // Puedes personalizar esto según tus necesidades
        switch (categoria.ToLower())
        {
            case "adv": return "Apartamento";
            case "str": return "Casa";
            case "rac": return "Quinta";
            default: return categoria;
        }
    }

    // Obtén el valor del filtro de provincia de la solicitud
    var provinciaFilter = Request["provinciaFilter"];
    var categoriaFilter = Request["categoriaFilter"];

    var province = "";
}
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .pagination li {
            margin-right: 5px;
        }

        .pagination a {
            text-decoration: none;
            color: #343957;
            padding: 8px 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            .pagination a:hover {
                background-color: #f5f5f5;
            }

        .pagination .active a {
            background-color: #343957;
            color: #fff;
        }

    .espacio {
        height: 2100px;
    }

</style>


<body>
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="breadcrumb">Costa Rica</span>
                    <h3>Propiedades</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section properties">
        <div class="container">

            <!-- Barra de búsqueda -->
            <div class="search-bar row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-3">
                    <select class="form-control" id="provincia-filter" onchange="filterProperties()">
                        <option value="*">Todas las Provincias</option>
                        @foreach (var provinciaID in Model.Select(p => p.ProvinciaID).Distinct())
                        {
                            <option value="@provinciaID">@GetProvinciaName(provinciaID)</option>
                        }
                    </select>
                </div>

                <div class="col-md-6 col-lg-1 mb-3">
                    <button class="btn" style="background-color: #343957; color: #fff;" onclick="filterProperties()">Buscar</button>
                </div>
            </div>

            <!-- Propiedades -->
            @if (Model.Count > 0)
            {
                <div class="row properties-box">
                    @foreach (var item in Model)
                    {
                        if (@item.ProvinciaID == 1)
                        {
                            province = "San Jose";
                        }
                        else if (@item.ProvinciaID == 2)
                        {
                            province = "Limón";
                        }
                        else if (@item.ProvinciaID == 3)
                        {
                            province = "Puntarenas";
                        }
                        else if (@item.ProvinciaID == 4)
                        {
                            province = "Heredia";
                        }
                        else if (@item.ProvinciaID == 5)
                        {
                            province = "Alajuela";
                        }
                        else if (@item.ProvinciaID == 6)
                        {
                            province = "Guanacaste";
                        }
                        else if (@item.ProvinciaID == 7)
                        {
                            province = "Cartago";
                        }

                        <div class="col-lg-4 col-md-6 mb-30 item propiedad provincia-@item.ProvinciaID" style="display: @(provinciaFilter != null && provinciaFilter != "*" && provinciaFilter != item.ProvinciaID.ToString() ? "none" : "block")">
                            <div class="item">
                                <a href="property-details.html"><img src="@item.Imagen" width="300" height="200" alt=""></a>
                                <span class="category categoria-@item.Categoria">@item.Categoria</span>
                                <h6>@item.Precio.ToString("C")</h6>
                                <h4><a href="property-details.html">@province, @item.UbicacionExacta</a></h4>
                                <div class="d-flex justify-content-center">
                                    <ul>
                                        <li>Recámaras: <span>@item.Habitaciones</span></li>
                                        <li>Baños: <span>@item.Banos</span></li>
                                        <li>Área: <span>@item.Area m2</span></li>
                                        <li>Piso: <span>@item.Piso</span></li>
                                        <li>Estacionamiento: <span>@item.Estacionamiento cupos</span></li>
                                    </ul>
                                </div>
                                <div class="main-button">
                                    <a href="@Url.Action("DetallesPropiedadId", "Home", new { propiedadId = item.PropiedadID })">Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>


            }
            else
            {
                <div class="d-flex justify-content-center">
                    <h3 class="text-black">No hay propiedades en este momento...</h3>
                </div>
            }
        </div>
    </div>

    <div class="espacio"></div>
    <!-- Mostrar la paginación -->
    <div class="col-lg-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @Html.PagedListPager(Model, pagina => Url.Action("Propiedades", new { pagina, pageSize = ViewBag.PageSize, provinciaFilter, categoriaFilter }))
            </ul>
        </nav>
    </div>





    <script>
        function filterByCategoria(categoria) {
            // Obtén el valor del filtro de provincia
            var categoriaFilter = $('#categoria-filter').val();

            // Redirige solo si se hace clic en el botón de buscar y el filtro no es nulo ni vacío
            if (categoriaFilter && !categoriaFilter.includes('*')) {
                // Redirige a la acción Propiedades con el filtro seleccionado
                window.location.href = '@Url.Action("Propiedades", "Home")' + '?categoriaFilter=' + categoriaFilter;
            }
        }

        function ShouldDisplay(propertyProvincia, filterProvincia) {
            // Lógica para determinar si la propiedad debe mostrarse según el filtro de provincia
            return filterProvincia == null || filterProvincia === "*" || filterProvincia === propertyProvincia;
        }

        function filterProperties() {
            // Obtén el valor del filtro de provincia
            var provinciaFilter = $('#provincia-filter').val();

            // Redirige solo si se hace clic en el botón de buscar y el filtro no es nulo ni vacío
            if (provinciaFilter && !provinciaFilter.includes('*')) {
                // Redirige a la acción Propiedades con el filtro seleccionado
                window.location.href = '@Url.Action("Propiedades", "Home")' + '?provinciaFilter=' + provinciaFilter;
            } else {
                window.location.href = '@Url.Action("Propiedades", "Home")' + '?provinciaFilter=*';
            }
        }
    </script>
</body>
