<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    .form-label,
    .form-control {
        font-family: 'Poppins', sans-serif;
    }

</style>

@model DominiumLocal.Entity.usersEntity
@{
    ViewBag.Title = "Login";
}

<main>
    <section class="vh-100 bg-light">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="~/template/assets/images/domLogo.png"
                         class="img-fluid rounded-circle shadow" alt="Real Estate Logo" style="max-width: 100%; height: auto;">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    @if (ViewBag.MensajeUsuario != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.MensajeUsuario
                        </div>
                    }
                    <!-- Connect with the access controller -->
                    @using (Html.BeginForm("Login", "Acceso", FormMethod.Post, new { @class = "pt-3" }))
                    {
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Email,
                            new { @class = "form-control form-control-lg", placeholder = "Dirección de correo electrónico" }
                            )
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Contraseña" })
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#!" class="text-body">¿Olvidó su contraseña?</a>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <!-- Submit button with color #48466d -->
                            <button type="submit" class="btn btn-primary btn-lg rounded-pill px-4" style="background-color: #48466d;">
                                Iniciar sesión
                            </button>
                            <!-- Registration link -->
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                ¿No tiene una cuenta? <a href="@Url.Action("Register", "Acceso")" class="text-decoration-none" style="color: #8783c7;">Registrar</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
