@model DominiumLocal.Entity.usersEntity
@{
    ViewBag.Title = "Login";
}

<main>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://img.freepik.com/vector-premium/bienes-raices-logo-edificio-vector-premium_606545-4.jpg"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    @using (Html.BeginForm("Login", "Acceso", FormMethod.Post, new { @class = "pt-3" }))
                    {
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", placeholder = "Enter a valid email address" })
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Enter password" })
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Login
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? <a href="@Url.Action("Register", "Acceso")" class="link-danger">Register</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
