<style>
    .gradient-custom {
        background-color: #48466d;
        background: linear-gradient(45deg, #48466d, #6e6c94);
    }

    .card-registration {
        background-color: white;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px
    }

    .form-label {
        color: #48466d;
    }

    .form-control {
        border-color: #48466d;
        color: #48466d;
    }

    .btn-primary {
        background-color: #48466d;
        border-color: #48466d;
    }

    .text-danger {
        color: red;
    }

    .alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
    }

    .text-center {
        text-align: center;
    }

</style>

@model DominiumLocal.Entity.usersEntity

@{
    ViewBag.Title = "Registro";
    Layout = null;
}
<!-- Vista de Registro -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>

    <link href="/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/css/register.css" />

    <link rel="stylesheet" href="ruta/a/tu/estilo/global.css" />
</head>
<body class="gradient-custom">
    <!-- seccion del formulario de registro -->
    <section class="vh-100 ">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" style="color: #48466d ">Registrarse a Dominium</h3>
                            @if (ViewBag.MensajeUsuario != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.MensajeUsuario
                                </div>
                            }
                            <!-- formulario de registro -->
                            @using (Html.BeginForm("CRegister", "Acceso", FormMethod.Post, new { onsubmit = "return validarContraseñas();" }))
                            {
                                <div class="row">
                                    <!-- Nombre -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label">Nombre</label>
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control form-control-lg", placeholder = "Nombre", required = "required" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!-- Apellido -->
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label">Apellido</label>
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control form-control-lg", placeholder = "Apellido", required = "required" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Email -->
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label">Email</label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", placeholder = "Email", required = "required" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <!-- Telefono -->
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label">Telefono</label>
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-lg", placeholder = "0000 - 0000", required = "required" })
                                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Contraseña -->
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label">Contraseña</label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Contraseña", required = "required" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <!-- Confirmación de Contraseña -->
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label">Confirmar Contraseña</label>
                                            @Html.PasswordFor(m => m.Cpassword, new { @class = "form-control form-control-lg", placeholder = "Confirmar Contraseña", required = "required" })
                                            @Html.ValidationMessageFor(m => m.Cpassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Selector de Rol -->
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label for="rol" class="form-label">Rol</label>
                                            @Html.DropDownListFor(m => m.Rol, new SelectList(new[]
                                            {
                                                new SelectListItem { Value = "1", Text = "Comprador" },
                                                new SelectListItem { Value = "2", Text = "Vendedor" },
                                            }, "Value", "Text"), "Seleccione un Rol", new { @class = "form-control form-control-lg", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.Rol, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 pt-2 d-flex justify-content-center">
                                    <a class="btn btn-secondary btn-lg" style="margin: 10px" href="@Url.Action("Index", "Home")">Cancelar</a>
                                    <input class="btn btn-primary btn-lg mr-2"  type="submit" style="background-color: #48466d; margin: 10px" value="Enviar" />

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function validarContraseñas() {
            var password = document.getElementById('Password').value;
            var cpassword = document.getElementById('Cpassword').value;

            if (password !== cpassword) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Las contraseñas no coinciden',
                });
                return false;
            }

            return true;
        }
    </script>

</body>
</html>